body{
  margin:0 auto;
}
 h1{
   text-align: center;
   font-weight: bold;
}
div{
  margin: 0 auto;
  width: 29rem;
  height: 25rem;
  background-color: rgb(196, 209, 207);
}

 input[type="submit"]{
   width: 8rem;
   height: 6rem;
   border-radius: 5px;
   margin: 20px 10px;
   background-color: rgb(185, 229, 238);
   color:rgb(31, 125, 212);
   cursor: pointer;
 }
